@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";
@import "./globals.css";

body {
	background:
		radial-gradient(circle at top, rgba(16, 185, 129, 0.08), transparent 40%),
		linear-gradient(180deg, #0f172b 0%, #022f2e 50%, #0f172b 100%);

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	color: white;
}
